# Build and packages
build/
external/CMakeFiles/
external/zmq/
external/cmake_install.cmake
external/CMakeCache.txt
external/Makefile
conanbuildinfo.cmake
conaninfo.txt
conanbuildinfo.txt
conan.cmake

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
